pipeline/ADF-Activitey1.json
{
	"name": "ADF-Activitey1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "TRUNCATE TABLE \n[stage].[StudentScores]",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "StudentId",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StudentId",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Student code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StudentCode",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "Student name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StudentName",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Date",
									"type": "DateTime",
									"physicalType": "date"
								}
							},
							{
								"source": {
									"name": "Language",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Language",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Maths",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Maths",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Phiysics",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Physics",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Chemistry",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Chemistry",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "Computersicence",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Computerscience",
									"type": "Int32",
									"physicalType": "int"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_Activity1SourceExcel",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_ActiviteyDestStage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SP for Inserting all Records",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_dim_tblStudentScores]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlMetaDataTbl",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored-Update-StageTable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set Studentid",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateStudentName]",
					"storedProcedureParameters": {
						"StudentId": {
							"value": {
								"value": "@variables('Studentid')",
								"type": "Expression"
							},
							"type": "String"
						},
						"StudentNameToUpdate": {
							"value": {
								"value": "@variables('StudentName')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlMetaDataTbl",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup1",
				"description": "",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SP for Inserting all Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT \n            Studentid, \n            StudentName\nFROM [STAGE].[StudentScores]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable10",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set StudentName",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "StudentName",
					"value": {
						"value": "Aref",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Studentid",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set StudentName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Studentid",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.Studentid",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored DELETING",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stored-Update-StageTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Sp_Delete]",
					"storedProcedureParameters": {
						"Studentid": {
							"value": {
								"value": "@variables('Studentid')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlMetaDataTbl",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup -from Dim_StudenSourec",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored procedure1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n    StudentId,\n    StudentCode,\n    StudentName,\n    TotalMarks,\n    CreatedBy,\n    UpdatedDateTime,\n    IsDeleted\nFROM [Dim].[StudentScores];\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable11",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Stored procedure1_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stored DELETING",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_dim_tblStudentScores]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlMetaDataTbl",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Lookup -from Dim_StudenSourec",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://prod-69.eastus.logic.azure.com:443/workflows/c28bf5d087fb4c19ba47eaaafecf3b05/triggers/When_a_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=Lg9PK3j--sGQHDinxXtTeaq01O4DbQfVCQz6sqcdjH0"
				}
			}
		],
		"variables": {
			"Studentid": {
				"type": "String"
			},
			"StudentName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}